CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.cache/
/.settings/
/.vscode/
/build/
/stm32/Core
/stm32/Drivers
/stm32/*.s
/stm32/*!(_DMA).ld
